{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="main">
            <p class="sign" align="center">Universal Signup</p>
            <form method="POST" class="verticalForm">
                {% csrf_token %}
                <!-- <input type="text" id="email" class="form__input" required="required" autocomplete="off" placeholder=" ">
                <label for="email" class="form__label">*Email</label> -->

                <input class="form__input" type="text" name="name" id="name" required="required" autocomplete="off"
                    placeholder=" ">
                <label class="form__label" for="name">*Name</label>

                <input class="form__input" id="email" type="text" name="email" required="required" autocomplete="off"
                    placeholder=" ">
                <label class="form__label" for="email">*Email</label>

                <input class="form__input" type="number" id="number" name="number" required="required"
                    autocomplete="off" placeholder=" ">
                <label class="form__label" for="number">*Phone</label>

                <input class="form__input" type="text" id="address" name="address" required="required"
                    autocomplete="off" placeholder=" ">
                <label class="form__label" for="address">*Address</label>

                <input class="form__input" type="password" id="password" name="password" required="required"
                    autocomplete="off" placeholder=" ">
                <label class="form__label" for="password">*Password</label>

                <input class="form__input" type="password" id="confirmPassword" name="confirmPassword"
                    required="required" autocomplete="off" placeholder=" ">
                <label class="form__label" for="confirmPassword">*Confirm Password</label>

                <p class="required">
                    * These fields are required.
                </p>

                <input class="type-2" type="submit" value="Signup">

                <a>Already a User ?</a>
                <h5>
                    <a href="{% url 'LOGIN' %}">Go for Login</a>
                </h5>

            </form>
        </div>

    </div>

    <!-- All the script will START here -->
    {% if msg %}
    <script>alert('{{msg}}')</script>
    {% endif %}
    <!-- All the script will END here -->

<!-- CONTACT FORM END -->


{% endblock %}